section{
    margin: auto;
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;

    #boxImages{
        display: flex;
        justify-content: center;
        align-items: center ;
        flex-direction: column;
        margin-top: 20px;

        a{
            text-decoration: none;
            text-align: center;
            font-family: 'Hubballi', cursive;
            margin-top: 10px;
            font-size: 1.5em;
            cursor: pointer;
        }


        img{
            border-radius: 10%;
            height: 90%;
            width: 80%;
        }
    }


}